*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    color: black;
}

header{
    background-color: aqua;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    height: 50px;
}

.navegacao{
    display: flex;
}

.navegacao ul{
    display: flex;
    width: 500px;
    justify-content: space-between;
}

.navegacao ul li{
    list-style: none;
    text-decoration: none;
}
.links{
    text-decoration: none;
    color: black;
}

h1{
    text-align: center;
    margin-top: 20px;
}

.container{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.subtitulo{
    margin-bottom: 20px;
}

.container_localizacao{
    display: flex;
    height: 100%;
}

.container_localizacao p{
    margin-left: 20px;
}

.imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.imagens img{
    width: 30%;
    margin-top: 10px;
    margin-left: 20px;
}
.texto{
    text-align: center;
}